* {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
  background-color: rgba(0, 163, 154, 0.3);
}

@media screen and (max-width : 600px) {
 body {
    width: 600px;
  }
}

.main-header {
   position: relative;
   background-color: #c80f2e;
}

.navigation ul {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.navigation li {
  display: inline;
  padding: 0 5%;
}
.navigation a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}
.navigation a:hover {
   background-color: rgba(255, 255, 255, .9);
}
.grid-container {
  display: grid;
  grid-template-columns: auto 30%;
  background-color: #c80f2e;
}

.item1 {
  margin: 0px;
  background-color: #c80f2e;
  font-size: 50px;
  color: white;
  padding-left: 30px;
}

#social {
  padding-left: 30px;
  padding-top: 10px;
  font-size: 15px;
}

@media screen and (max-width : 890px) {
 .item1 {
    font-size: 40px;
  }
}

@media screen and (max-width : 700px) {
 .item1 {
    font-size: 30px;
  }
}

.item2 {
  background-image: url("Images/nike-liverpool.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

#content {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-row-gap: 50px;
  justify-content: space-between;
  margin-top: 100px;
}

.dropdown {
  display: grid;
  background-color:  #c80f2e;
}

.but {
   margin: auto;
   width: 80%;
   height: 40%;
   font-size: 20px;
   background-color: #c80f2e;
   color: white;
   border-style: solid;
   border-color: white;
   border-radius: 5px;
}

@media screen and (max-width : 670px) {
 .but {
    font-size: 15px;
  }
}

.but:hover {
  background-color: white;
  color: #c80f2e;
}

.squad {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  font-family: Arial;
  border: 2px solid #c80f2e;
  background-color: white;
  background-image: url("Images/Logos/liverbird.png");
  background-repeat: no-repeat;
  background-position: center;
}

#gk {
  display: flex;
}

#def {
  display: none;
}

#mid {
  display: none;
}

#st {
  display: none;
}

#staff {
  display: none;
}

.goalkeeper::after {
  content: " (GK)";
}

.left_back::after {
  content: " (LB)";
}

.centre_back::after {
  content: " (CB)";
}

.right_back::after {
  content: " (RB)";
}

.centre_def_mid::after {
  content: " (CDM)";
}

.centre_mid::after {
  content: " (CM)";
}

.central_forward::after {
  content: " (CF)";
}

.left_winger::after {
  content: " (LW)";
}

.right_winger::after {
  content: " (RW)";
}

.player {
  font-size: 12px;
  text-align: center;
  padding-top: 125px;
  background-color: #c80f2e;
  color: white;
  border: 1px solid red;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: 150px 120px;
}

@media screen and (max-width : 1078px) {
 .player {
   font-size: 11px;
   padding-top: 105px;
   height: 130px;
   width: 130px;
   background-size: 130px 100px;

  }
}

#becker {
    background-image: url("Images/Squad/alisson.jpg");
}

#adrian {
    background-image: url("Images/Squad/adrian.jpg");
}

#keleher {
    background-image: url("Images/Squad/keleher.jpg");
}

#pitaluga {
    background-image: url("Images/Squad/pitaluga.jpg");
}

#virgil {
    background-image: url("Images/Squad/vandijk.jpg");
}

#gomez {
    background-image: url("Images/Squad/joegomez.jpg");
}

#kabak {
    background-image: url("Images/Squad/kabak.jpg");
}

#tsimikas {
    background-image: url("Images/Squad/tsimikas.jpg");
}

#robertson {
    background-image: url("Images/Squad/robertson.jpg");
}

#davies {
    background-image: url("Images/Squad/davies.jpg");
}

#matip {
    background-image: url("Images/Squad/matip.jpg");
}

#rwilliams {
    background-image: url("Images/Squad/rhyswilliams.jpg");
}

#phillips {
    background-image: url("Images/Squad/narphilips.jpg");
}

#trent {
    background-image: url("Images/Squad/trent.jpg");
}

#nwilliams {
    background-image: url("Images/Squad/necowilliams.jpg");
}

#fabinho {
    background-image: url("Images/Squad/fabinho.jpg");
}

#wijnaldum {
    background-image: url("Images/Squad/wijnaldum.jpg");
}

#thiago {
    background-image: url("Images/Squad/thiago.jpg");
}

#milner {
    background-image: url("Images/Squad/milner.jpg");
}

#keita {
    background-image: url("Images/Squad/nabykeita.jpg");
}

#henderson {
    background-image: url("Images/Squad/henderson.jpg");
}

#ox {
    background-image: url("Images/Squad/ox.jpg");
}

#jones {
    background-image: url("Images/Squad/jones.jpg");
}

#shaqiri {
    background-image: url("Images/Squad/shaq.jpg");
}

#woodburn {
    background-image: url("Images/Squad/woodburn.jpg");
}

#firmino {
    background-image: url("Images/Squad/firmino.jpg");
}

#mane {
    background-image: url("Images/Squad/mane.jpg");
}

#salah {
    background-image: url("Images/Squad/salah.jpg");
}

#jota {
    background-image: url("Images/Squad/jota.jpeg");
}

#origi {
    background-image: url("Images/Squad/origi.jpg");
}

#klopp {
    background-image: url("Images/Squad/klopp.jpg");
}

#krawietz {
    background-image: url("Images/Squad/krawietz.jpeg");
}

#lijnders {
    background-image: url("Images/Squad/lijnders.jpeg");
}

#achterberg {
    background-image: url("Images/Squad/achtenberg.jpeg");
}

#robinson {
    background-image: url("Images/Squad/jackrob.jpeg");
}

#hall_of_fame {
    display: grid;

    background-color:  #c80f2e;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial;
    text-align: center;
}
.pause {
  width: 50%;
}
.hof {
  font-size: 14px;
}
@media screen and (max-width : 858px) {
 .hof {
    font-size: 12px;
  }
}
@media screen and (max-width : 600px) {
 .hof {
    font-size: 10px;
  }
}

#footer {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  height: 300px;
  background-color:  #c80f2e;
}

#ft-text {
  position: absolute;
  font-size: 30px;
  color: white;
  right: 0%;
  bottom: 0px;
}

@media screen and (max-width : 950px) {
 #ft-text {
    font-size: 25px;
  }
}

.fa-facebook, .fa-instagram, .fa-tiktok, .fa-twitter {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-size: 50px;
}

@media screen and (max-width : 950px) {
 .fa-facebook, .fa-instagram, .fa-tiktok, .fa-twitter {
    font-size: 45px;
  }
}
